a {
	text-decoration: none;
	color: inherit;
}
body{
	background: #161618;
	font-family: "Slabo 27px", "Times New Roman", serif;
	font-size: 1.6em;
	line-height: 1.3;
	letter-spacing: -0.25px;
}

div.pr0news{
	margin: auto;
	width: 1000px;
	display: block;
	text-align: left;
}

div.pr0news div{
	color: #f2f5f4;
	font-family: "Slabo 27px", "Times New Roman", serif;
}
div.pr0news>img:first-of-type{
	margin: auto !important;
	width: 98%;
	display: block;
}
p{
	color: #f2f5f4;
	font-family: "Slabo 27px", "Times New Roman", serif;
}

h1:not(.realTitle){
	display: none;
}
h1{
	font-family: "Slabo 27px", "Times New Roman", serif;
	font-weight: 700;
	font-size: 2.1em !important;
	color: #ee4d2e;
	margin-top: 10px;
	margin-bottom: 15px;
}
h2{
	font-size: 2.0em !important;
	color: #1cb992;
}
h3{
	font-size: 1.9em !important;
	color: #ff9900;
}
h4{
	font-size: 1.9em !important;
	color: #5bb91c;
}
h5{
	font-size: 1.8em !important;
	color: #e108e9;
}
h6{
	font-size: 1.8em !important;
	color: #6c432b;
}
blockquote{
	color: #bfbc06;
}
blockquote>*{
	color: inherit;
}
blockquote p{
	font-style: italic;
}
strong{
	color: #ee4d2e;
}
b{
	color: #ee4d2e;
}
i{
	color: #008fff;
}
del{
	color: #6c432b;
}
em{
	color: #e108e9;
}
ul{
	color: #f2f5f4;
	font-family: "Slabo 27px", "Times New Roman", serif;
}
ol{
	color: #f2f5f4;
	font-family: "Slabo 27px", "Times New Roman", serif;
}
div div img{
	width: 65%;
	max-width: 1000px;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	height: auto !important;
	max-height: 1000px;
}
div.pr0news>*{
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.n-tv p.category {
	display: none;
}
.Welt a.o-teaser__link{
	display: none;
}

.Welt p.c-inline-teaser__label{
	display: none;
}

.Welt p.o-teaser__topic{
	display: none;
}

.Welt p.c-ad-appnexus__label{
	display: none;
}
.Welt p.o-element__text{
	display: none;
}
.Tagesschau h3:first-of-type{
	display: none;
}
.Tagesschau ul.scrollcontent{
	display: none;
}
.Tagesschau ul.expand_list{
	display: none;
}
.Tagesschau p.control{
	display: none;
}
.Tagesschau a.control{
	display: none;
}
.Tagesschau h2.boxheadline{
	display: none;
}
.Tagesschau h2.conHeadline{
	display: none;
}
.Tagesschau h4.manualteasersubtitle{
	display: none;
}
.Tagesschau ol.comment_list{
	display: none;
}
.Tagesschau a.expand_collapse_all{
	display: none;
}
.Tagesschau a.icon.galerie{
	display: none;
}
.Tagesschau ul.shares.clearfix{
	display: none;
}
.Tagesschau p.hinweistext{
	display: none;
}
.Tagesschau p.embedtrigger.button{
	display: none;
}
.Tagesschau a[href='#'], p.boxhead, p.teasertext{
	display: none;
}
.Tagesschau a[title='Bilderstrecke im Vollbild'], h2.headline, p.info, p.infotext, p.more.hidden{
	display: none;
}
.FAZ h2>*{
	display: inline-block;
	margin: 0;
}
.FAZ h3>*{
	display: inline-block;
	margin: 0;
}
.FAZ p.vjs-no-js{
	display: none;
}
.FAZ p.CtrlText{
	display: none;
}
.FAZ h2.mm-MainVideo_Headline{
	display: none;
}
.FAZ p.ctn-PlaceholderContent_DescriptionCopyright{
	display: none;
}
.FAZ img.cbx-Author_Avatar{
	display: none;
}
.FAZ p.cbx-Author_Name, p.cbx-Author_Position, ul.cbx-Author_ProfileList{
	display: none;
}
.Focus p.source, p.created{
	display: none;
}
.Focus div>img:first-of-type{
	display: none;
}
.Postillon div>p:nth-last-of-type(-n+2){
	display: none;
}
.RP.Online p.source{
	display: none;
}
.Spiegel p.asset-credit, p.btn-video-text-large{
	display: none;
}
.Spiegel a.image-buttons-panel{
	display: block;
}
.Spiegel p.multi-box-content.multi-box-content-no-headline{
	padding-left: 50px;
}
.Stern a{
	display: inline;
}
.Stern p.a-text-block{
	display: none;
}
.WEBde br{
	display: none;
}